<div class="container">
    <h2>Reactive Form = Warehouse</h2>

    <form [formGroup]="warehouseForm" (ngSubmit)="onSubmit()">

        <div>
            <label>Supplier ID:</label>
            <input type="number" formControlName="supplierId"/>

            <div *ngIf="supplierId?.invalid && supplierId?.touched" style="color: red;">
                <div *ngIf="supplierId?.errors?.['required']">Supplier ID is required.</div>
                <div *ngIf="supplierId?.errors?.['min']">Supplier ID must be greater than 0.</div>
            </div>
        </div>

        <div>
            <label>Warehouse Name:</label>
            <input type="text" formControlName="warehouseName"/>

            <div *ngIf="warehouseName?.invalid && warehouseName?.touched" style="color: red;">
                <div *ngIf="warehouseName?.errors?.['required']">Warehouse Name is required.</div>
            </div>
        </div>

        <div>
            <label>Location:</label>
            <input type="text" formControlName="location"/>
        </div>

        <div>
            <label>Capacity:</label>
            <input type="number" formControlName="capacity"/>

            <div *ngIf="capacity?.invalid && capacity?.touched" style="color: red;">
                <div *ngIf="capacity?.errors?.['required']">Capacity is required.</div>
                <div *ngIf="capacity?.errors?.['min']">Capacity must be non-negative.</div>
            </div>
        </div>

        <div *ngIf="successMessage" style="color: green;">
            {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" style="color: red;">
            {{ errorMessage }}
        </div>

        <button type="submit" [disabled]="warehouseForm.invalid">Submit</button>

    </form>
</div>
